.card {
  margin: auto;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent
}

tbody tr {
  cursor: pointer;
}

@media(max-width:767px) {

  .mobile {
    display: none;
  }

}